<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
         <main class="card">
            <h1 class="head_1">Анкета пользователя</h1>
            <div class="user-data">
                <img class="image" src="{{ foto_html }}"  alt="">
                <div class="info">
                    <ul>
                        <li>Имя: {{ firstname_html }}</li>
                        <li>Фамилия: {{ lastname_html }}</li>
                        <li>Дата рождения: {{ birth_html }}</li>
                    </ul>
                    <div class="skills">
                        <div>Навыки:</div>
                        <ul>
                            <li>{{ skill_1_html }}</li>
                            <li>{{ skill_2_html }}</li>
                            <li>{{ skill_3_html }}</li>
                            <li>{{ skill_4_html }}</li>
                            <li>{{ skill_5_html }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <h2>О себе:</h2>
            <div class="about">{{ about_html }}</div>

            <a href="{% url 'register' %}"> Вернутся на главную</a>

        </main>

</body>
</html>