<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Регистрация пользователя</h1>

   <p><b>Ссылка на ваше фото:</b><br>
   <input type="text" size="40"></p>
  <p><b>Имя:</b><br>
   <input type="text" size="40"></p>
     <p><b>Фамилия:</b><br>
   <input type="text" size="40"></p>
     <label for="start">Дата рождения:</label>
  <input type="date" id="start" name="trip-start"/>
   <p><b>Ваши навоки:</b><br>
   <input type="text" size="40"></p>
  <input type="text" size="40"></p>
  <input type="text" size="40"></p>
  <input type="text" size="40"></p>
  <input type="text" size="40"></p>
  <p>О Себе<Br>
   <textarea name="comment" cols="40" rows="3"></textarea></p>
  <p><input type="submit" value="Отправить">
   <input type="reset" value="Очистить"></p>


</body>
</html>