<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<div class="auth">
  <div class="block_content">
    <p class="head_text">Авторизация</p>
    <form class="style" action="#" method="post">
      <label>Введите Ваше имя</label>
      <input type="name" name="auth_name" placeholder="Введите Ваше имя" required >
      <label>Введите Ваш пароль</label>
      <input type="password" name="auth_pass" placeholder="Введите пароль" required >
      <button class="button" type="submit" name="submit">Войти</button>
    </form>
  </div>
</div>
</body>
</html>